extends layout

block content
  section.about
    .container
      h1 About Me
      .about-content
        .about-text
          h2 Hello, I'm a Full Stack Developer
          p I'm passionate about creating digital experiences that make a difference. With expertise in both front-end and back-end development, I bring ideas to life through clean, efficient code.
          
          h3 My Skills
          .skills
            span.skill HTML/CSS
            span.skill JavaScript
            span.skill Node.js
            span.skill Express
            span.skill MongoDB
            span.skill React
            span.skill Git
            
          h3 My Journey
          p Started my coding journey several years ago and haven't looked back since. I love learning new technologies and staying up-to-date with industry trends.
          
          .cta
            a.btn.btn-primary(href='/projects') See My Projects
            a.btn.btn-secondary(href='/contact') Let's Connect