extends layout

block content
  section.contact
    .container
      h1 お問い合わせ
      p.subtitle プロジェクトのご相談や、ただのご挨拶でも、お気軽にご連絡ください！
      
      .contact-content
        .contact-info
          h3 連絡先情報
          .info-item
            strong メール:
            span  hello@myportfolio.com
          .info-item
            strong 所在地:
            span  東京、日本
          .info-item
            strong 稼働状況:
            span  フリーランスプロジェクト受付中
            
          .social-links
            h3 ソーシャルメディア
            a.social-link(href='#') GitHub
            a.social-link(href='#') LinkedIn
            a.social-link(href='#') Twitter
            
        .contact-form
          h3 メッセージを送る
          form(method='post' action='/contact')
            .form-group
              label(for='name') お名前
              input#name(type='text' name='name' required)
            .form-group
              label(for='email') メールアドレス
              input#email(type='email' name='email' required)
            .form-group
              label(for='message') メッセージ
              textarea#message(name='message' rows='5' required)
            button.btn.btn-primary(type='submit') 送信