doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
    nav.navbar
      .nav-container
        a.logo(href='/') Portfolio
        ul.nav-menu
          li: a(href='/') Home
          li: a(href='/about') About
          li: a(href='/projects') Projects
          li: a(href='/contact') Contact
    main.content
      block content
    footer
      .footer-container
        p &copy; 2025 My Portfolio. All rights reserved.
