extends layout

block content
  section.projects
    .container
      h1 My Projects
      p.subtitle Here are some of the projects I've worked on
      
      .project-grid
        .project-card
          h3 E-Commerce Platform
          p A full-stack e-commerce solution with payment integration
          .tech-stack
            span Node.js
            span MongoDB
            span Stripe API
          .project-links
            a.btn-small(href='#') View Demo
            a.btn-small(href='#') GitHub
            
        .project-card
          h3 Task Management App
          p A collaborative task management tool with real-time updates
          .tech-stack
            span React
            span Socket.io
            span Express
          .project-links
            a.btn-small(href='#') View Demo
            a.btn-small(href='#') GitHub
            
        .project-card
          h3 Weather Dashboard
          p Real-time weather application with location-based forecasts
          .tech-stack
            span JavaScript
            span Weather API
            span Chart.js
          .project-links
            a.btn-small(href='#') View Demo
            a.btn-small(href='#') GitHub
            
        .project-card
          h3 Blog Platform
          p A modern blogging platform with markdown support
          .tech-stack
            span Pug
            span Express
            span PostgreSQL
          .project-links
            a.btn-small(href='#') View Demo
            a.btn-small(href='#') GitHub