extends layout

block content
  section.projects
    .container
      h1 プロジェクト
      p.subtitle これまでに取り組んだプロジェクトの一部をご紹介します
      
      .project-grid
        .project-card
          h3 Eコマースプラットフォーム
          p 決済機能を統合したフルスタックEコマースソリューション
          .tech-stack
            span Node.js
            span MongoDB
            span Stripe API
          .project-links
            a.btn-small(href='#') デモを見る
            a.btn-small(href='#') GitHub
            
        .project-card
          h3 タスク管理アプリ
          p リアルタイム更新機能を備えた協働タスク管理ツール
          .tech-stack
            span React
            span Socket.io
            span Express
          .project-links
            a.btn-small(href='#') デモを見る
            a.btn-small(href='#') GitHub
            
        .project-card
          h3 天気ダッシュボード
          p 位置情報に基づく天気予報を表示するリアルタイムアプリケーション
          .tech-stack
            span JavaScript
            span Weather API
            span Chart.js
          .project-links
            a.btn-small(href='#') デモを見る
            a.btn-small(href='#') GitHub
            
        .project-card
          h3 ブログプラットフォーム
          p Markdownをサポートするモダンなブログプラットフォーム
          .tech-stack
            span Pug
            span Express
            span PostgreSQL
          .project-links
            a.btn-small(href='#') デモを見る
            a.btn-small(href='#') GitHub